<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
        <form action="register" method="post">
            {% csrf_token %}
            
            <input type="text" name="first_name" placeholder="first_name" required><br>
            <input type="text" name="last_name" placeholder="Last_name" required><br>
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="text" name="email" placeholder="email" required><br>
            <input type="password" name="password1" placeholder="Password" required><br>
            <input type="password" name="password2" placeholder="Confirm Password" required><br>
            <input type="submit">
        </form>
        
        
</body>
</html>